@typeparam TableItem
@inherits BaseGridComponent<TableItem>
<div class="geckos-grid @ComponentClass @(IsTransparent ? "transparent" : "") @(CanScroll ? "scrollable" : "")" id="@ContainerId" @onkeyup="@OnKeyUp" @onkeyup:preventDefault="@KeyDownPreventDefault" @onkeyup:stopPropagation="@KeyDownPreventDefault">
    <table class="table table-sm table-borderless @(TableClass ?? "")" id="@this.Id" tabindex="0">
        
        <thead class="@(HideHeader ? "hidden-header" : "")">
            @if (AdditionalHeader != null) {
                @(AdditionalHeader)
            }
            <tr>
                <CascadingValue Value="this" IsFixed="true">
                    @(Columns)
                </CascadingValue>
            </tr>
        </thead>

        <tbody @ref="contentElement" class="group-element @(Disabled ? "disabled": "")">
            @if (Items != null)
            {
                <CascadingValue Value="this" IsFixed="true">
                    <GeckosListGridRow Items="@this.RowsToShow"></GeckosListGridRow>
                </CascadingValue>
            }

        </tbody>
    </table>
    @if (CanOpenContextMenuOnEmpty)
    {
        <div class="grid-context-menu-zone" @oncontextmenu="((args) => OnContextMenuEmpty(args))">

        </div>
    }
</div>


